<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="container">

    <h1>Login</h1>


    {% with messages = get_flashed_messages() %}

        {% for message in messages %}

            <p class="message">
                {{ message }}
            </p>

        {% endfor %}

    {% endwith %}


    <form method="POST">

        <div class="form-group">

            <label for="email">
                Email
            </label>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                autocomplete="off"
                required
            >

        </div>


        <div class="form-group">

            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                autocomplete="new-password"
                required
            >

        </div>


        <button type="submit">
            Login
        </button>

    </form>


    <p>
        Don't have an account?

        <a href="{{ url_for('register') }}">
            Register
        </a>
    </p>

</div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>