<!DOCTYPE html>
<html>

<head>

    <title>Resume Text</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="container">

    <h1>Resume Uploaded Successfully</h1>

    <h3>File Name</h3>

    <p>
        {{ filename }}
    </p>

    <h3>Extracted Resume Text</h3>

    <textarea
        rows="25"
        readonly
    >{{ resume_text }}</textarea>

    <br><br>

    <a href="{{ url_for('analyze') }}"
       class="button">

        Upload Another Resume

    </a>

    <a href="{{ url_for('dashboard') }}"
       class="button">

        Dashboard

    </a>

</div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>